{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca X</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link rel="stylesheet" href="{% static '/css/sidebars.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body class="container-fluid">

    <main class="row">
        <section class="vh-100">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6 text-black">
                        <div class="px-5 my-5 ms-xl-4">
                            <span class="h1 fw-bold mb-0 d-block">Biblioteca X</span>
                        </div>

                        {% include 'partials/_alerts.html' %}

                        <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">
                            <form style="width: 30rem;" action="{% url 'login' %}" method="post">
                                {% csrf_token %}
                                <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Entrar no Sistema</h3>

                                {% for field in form.visible_fields %}
                                <div class="form-outline mb-4">
                                    <div class="form-floating mb-3">
                                        {{ field }}
                                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                    </div>
                                </div>
                                {% endfor %}

                                <div class="form-outline mb-4">
                                    <button class="btn btn-dark btn-lg btn-block w-100" type="submit">Login</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-sm-6 px-0 d-none d-sm-block">
                        <img src="{% static 'assets/images/img-login.jpg' %}" alt="Login image" class="w-100 vh-100"
                            style="object-fit: cover; object-position: left;">
                    </div>
                </div>
            </div>
        </section>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>

</html>