<footer class="d-flex justify-content-evenly align-items-center text-center text-bg-dark mt-2" style="height: 50px;">
        <div>
            <span class="me-3">By Daniel S Barros</span>
        </div>

        <div>
            <a class="btn btn-link btn-floating btn-lg text-dark" href="#!" role="button" data-mdb-ripple-color="light"
                target="_blank">
                <i class="fab fa-google" style='color: white'></i>
            </a>
    
            <a class="btn btn-link btn-floating btn-lg text-dark"
                href="https://www.linkedin.com/in/daniel-barros-373571140/" role="button" data-mdb-ripple-color="dark"
                target="_blank">
                <i class="fab fa-linkedin" style='color: white'></i>
            </a>
    
            <a class="btn btn-link btn-floating btn-lg text-dark" href="https://github.com/daniel-sbarros" role="button"
                data-mdb-ripple-color="dark" target="_blank">
                <i class="fab fa-github" style='color: white'></i>
            </a>
        </div>
</footer>